@page "/menuitems/edit"
@using Microsoft.EntityFrameworkCore
@using BIGBACK.Domain
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>MenuItem</h2>
<hr />
@if (MenuItem is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="MenuItem" OnValidSubmit="UpdateMenuItem" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="MenuItem.Id" value="@MenuItem.Id" />
                <div class="mb-3">
                    <label for="menuitemprice" class="form-label">MenuItemPrice:</label>
                    <InputNumber id="menuitemprice" @bind-Value="MenuItem.MenuItemPrice" class="form-control" />
                    <ValidationMessage For="() => MenuItem.MenuItemPrice" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="menuitemname" class="form-label">MenuItemName:</label>
                    <InputText id="menuitemname" @bind-Value="MenuItem.MenuItemName" class="form-control" />
                    <ValidationMessage For="() => MenuItem.MenuItemName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="menuitemdesc" class="form-label">MenuItemDesc:</label>
                    <InputText id="menuitemdesc" @bind-Value="MenuItem.MenuItemDesc" class="form-control" />
                    <ValidationMessage For="() => MenuItem.MenuItemDesc" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="menuid" class="form-label">MenuId:</label>
                    <InputNumber id="menuid" @bind-Value="MenuItem.MenuId" class="form-control" />
                    <ValidationMessage For="() => MenuItem.MenuId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/menuitems">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private MenuItem? MenuItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        MenuItem ??= await context.MenuItem.FirstOrDefaultAsync(m => m.Id == Id);

        if (MenuItem is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMenuItem()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(MenuItem!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MenuItemExists(MenuItem!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/menuitems");
    }

    private bool MenuItemExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.MenuItem.Any(e => e.Id == id);
    }
}
