@page "/orderitems/create"
@using Microsoft.EntityFrameworkCore
@using BIGBACK.Domain
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>OrderItem</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="OrderItem" OnValidSubmit="AddOrderItem" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="orderitemqty" class="form-label">OrderItemQty:</label> 
                <InputNumber id="orderitemqty" @bind-Value="OrderItem.OrderItemQty" class="form-control" /> 
                <ValidationMessage For="() => OrderItem.OrderItemQty" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="orderitempromo" class="form-label">OrderItemPromo:</label> 
                <InputText id="orderitempromo" @bind-Value="OrderItem.OrderItemPromo" class="form-control" /> 
                <ValidationMessage For="() => OrderItem.OrderItemPromo" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="orderid" class="form-label">OrderId:</label> 
                <InputNumber id="orderid" @bind-Value="OrderItem.OrderId" class="form-control" /> 
                <ValidationMessage For="() => OrderItem.OrderId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="menuitemid" class="form-label">MenuItemId:</label> 
                <InputNumber id="menuitemid" @bind-Value="OrderItem.MenuItemId" class="form-control" /> 
                <ValidationMessage For="() => OrderItem.MenuItemId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/orderitems">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private OrderItem OrderItem { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddOrderItem()
    {
        using var context = DbFactory.CreateDbContext();
        context.OrderItem.Add(OrderItem);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/orderitems");
    }
}
