@page "/orders/edit"
@using Microsoft.EntityFrameworkCore
@using BIGBACK.Domain
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Order</h2>
<hr />
@if (Order is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Order" OnValidSubmit="UpdateOrder" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Order.Id" value="@Order.Id" />
                <div class="mb-3">
                    <label for="orderdatetime" class="form-label">OrderDateTime:</label>
                    <InputDate id="orderdatetime" @bind-Value="Order.OrderDateTime" class="form-control" />
                    <ValidationMessage For="() => Order.OrderDateTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="orderstatus" class="form-label">OrderStatus:</label>
                    <InputText id="orderstatus" @bind-Value="Order.OrderStatus" class="form-control" />
                    <ValidationMessage For="() => Order.OrderStatus" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="ordertotal" class="form-label">OrderTotal:</label>
                    <InputNumber id="ordertotal" @bind-Value="Order.OrderTotal" class="form-control" />
                    <ValidationMessage For="() => Order.OrderTotal" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="customerid" class="form-label">CustomerId:</label>
                    <InputNumber id="customerid" @bind-Value="Order.CustomerId" class="form-control" />
                    <ValidationMessage For="() => Order.CustomerId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/orders">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Order? Order { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Order ??= await context.Order.FirstOrDefaultAsync(m => m.Id == Id);

        if (Order is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateOrder()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Order!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!OrderExists(Order!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/orders");
    }

    private bool OrderExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Order.Any(e => e.Id == id);
    }
}
