@page "/staff"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BIGBACK.Domain
@using BIGBACK.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="staff/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Staff">
    <PropertyColumn Property="staff => staff.StaffName" />
    <PropertyColumn Property="staff => staff.StaffEmail" />
    <PropertyColumn Property="staff => staff.StaffContact" />

    <TemplateColumn Context="staff">
        <a href="@($"staff/edit?id={staff.Id}")">Edit</a> |
        <a href="@($"staff/details?id={staff.Id}")">Details</a> |
        <a href="@($"staff/delete?id={staff.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BIGBACKContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
