@page "/deliveryriders/edit"
@using Microsoft.EntityFrameworkCore
@using BIGBACK.Domain
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>DeliveryRider</h2>
<hr />
@if (DeliveryRider is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="DeliveryRider" OnValidSubmit="UpdateDeliveryRider" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="DeliveryRider.Id" value="@DeliveryRider.Id" />
                <div class="mb-3">
                    <label for="deliveryriderid" class="form-label">DeliveryRiderId:</label>
                    <InputNumber id="deliveryriderid" @bind-Value="DeliveryRider.DeliveryRiderId" class="form-control" />
                    <ValidationMessage For="() => DeliveryRider.DeliveryRiderId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="deliveryridertasktype" class="form-label">DeliveryRiderTaskType:</label>
                    <InputText id="deliveryridertasktype" @bind-Value="DeliveryRider.DeliveryRiderTaskType" class="form-control" />
                    <ValidationMessage For="() => DeliveryRider.DeliveryRiderTaskType" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="deliveryriderstatus" class="form-label">DeliveryRiderStatus:</label>
                    <InputText id="deliveryriderstatus" @bind-Value="DeliveryRider.DeliveryRiderStatus" class="form-control" />
                    <ValidationMessage For="() => DeliveryRider.DeliveryRiderStatus" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="deliveryid" class="form-label">DeliveryId:</label>
                    <InputNumber id="deliveryid" @bind-Value="DeliveryRider.DeliveryId" class="form-control" />
                    <ValidationMessage For="() => DeliveryRider.DeliveryId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="riderid" class="form-label">RiderId:</label>
                    <InputNumber id="riderid" @bind-Value="DeliveryRider.RiderId" class="form-control" />
                    <ValidationMessage For="() => DeliveryRider.RiderId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="DeliveryRider.DateCreated" class="form-control" />
                    <ValidationMessage For="() => DeliveryRider.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="DeliveryRider.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => DeliveryRider.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="DeliveryRider.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => DeliveryRider.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="DeliveryRider.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => DeliveryRider.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/deliveryriders">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private DeliveryRider? DeliveryRider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        DeliveryRider ??= await context.DeliveryRider.FirstOrDefaultAsync(m => m.Id == Id);

        if (DeliveryRider is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateDeliveryRider()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(DeliveryRider!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!DeliveryRiderExists(DeliveryRider!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/deliveryriders");
    }

    private bool DeliveryRiderExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.DeliveryRider.Any(e => e.Id == id);
    }
}
