@page "/businessowners/edit"
@using Microsoft.EntityFrameworkCore
@using BIGBACK.Domain
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>BusinessOwner</h2>
<hr />
@if (BusinessOwner is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="BusinessOwner" OnValidSubmit="UpdateBusinessOwner" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="BusinessOwner.Id" value="@BusinessOwner.Id" />
                <div class="mb-3">
                    <label for="businessownername" class="form-label">BusinessOwnerName:</label>
                    <InputText id="businessownername" @bind-Value="BusinessOwner.BusinessOwnerName" class="form-control" />
                    <ValidationMessage For="() => BusinessOwner.BusinessOwnerName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="businessownerrcontact" class="form-label">BusinessOwnerrContact:</label>
                    <InputText id="businessownerrcontact" @bind-Value="BusinessOwner.BusinessOwnerrContact" class="form-control" />
                    <ValidationMessage For="() => BusinessOwner.BusinessOwnerrContact" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="businessowneremail" class="form-label">BusinessOwnerEmail:</label>
                    <InputText id="businessowneremail" @bind-Value="BusinessOwner.BusinessOwnerEmail" class="form-control" />
                    <ValidationMessage For="() => BusinessOwner.BusinessOwnerEmail" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="businessownergender" class="form-label">BusinessOwnerGender:</label>
                    <InputText id="businessownergender" @bind-Value="BusinessOwner.BusinessOwnerGender" class="form-control" />
                    <ValidationMessage For="() => BusinessOwner.BusinessOwnerGender" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/businessowners">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private BusinessOwner? BusinessOwner { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        BusinessOwner ??= await context.BusinessOwner.FirstOrDefaultAsync(m => m.Id == Id);

        if (BusinessOwner is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateBusinessOwner()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(BusinessOwner!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!BusinessOwnerExists(BusinessOwner!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/businessowners");
    }

    private bool BusinessOwnerExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.BusinessOwner.Any(e => e.Id == id);
    }
}
