@page "/menus/create"
@using Microsoft.EntityFrameworkCore
@using BIGBACK.Domain
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Menu</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Menu" OnValidSubmit="AddMenu" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="menuid" class="form-label">MenuId:</label> 
                <InputNumber id="menuid" @bind-Value="Menu.MenuId" class="form-control" /> 
                <ValidationMessage For="() => Menu.MenuId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="menuname" class="form-label">MenuName:</label> 
                <InputText id="menuname" @bind-Value="Menu.MenuName" class="form-control" /> 
                <ValidationMessage For="() => Menu.MenuName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="businessid" class="form-label">BusinessId:</label> 
                <InputNumber id="businessid" @bind-Value="Menu.BusinessId" class="form-control" /> 
                <ValidationMessage For="() => Menu.BusinessId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="menucategory" class="form-label">MenuCategory:</label> 
                <InputText id="menucategory" @bind-Value="Menu.MenuCategory" class="form-control" /> 
                <ValidationMessage For="() => Menu.MenuCategory" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/menus">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Menu Menu { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMenu()
    {
        using var context = DbFactory.CreateDbContext();
        context.Menu.Add(Menu);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/menus");
    }
}
