.navbar {
    background-color: white !important; /* White background */
}

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: black !important; /* Black text */
    }

        .navbar .nav-link:hover {
            color: gray !important; /* Optional: Change color on hover */
        }

        .navbar .nav-link:visited {
            color: black !important; /* Ensure visited links are also black */
        }

        .navbar .nav-link.active {
            color: black !important; /* Ensure active link is also black */
               
        }
