@using BIGBACK.Data
@using BIGBACK.Domain
@using Microsoft.EntityFrameworkCore
@implements IDisposable
@inject IDbContextFactory<BIGBACK.Data.BIGBACKContext> DbFactory
@inject NavigationManager NavigationManager

<link href="Layout/NavMenu.razor.css" rel="stylesheet" />
<div class="d-flex navbar navbar-expand-lg" style="overflow-x: auto;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BIGBACK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="white-space: nowrap;">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                 <NavLink class="nav-link" href="/" Match="NavLinkMatch.Prefix">
                       <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                 </NavLink>
            </li>

                <!-- Authorized User Links -->
                <AuthorizeView>
                    <Authorized>

                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Manage">
                                <span class="bi bi-person-fill" aria-hidden="true"></span> @context.User.Identity?.Name
                            </NavLink>
                        </li>

                        <!-- BusinessOwner Links  -->
                        <AuthorizeView Roles="BusinessOwner" Context="businessContext">
@*                             <li class="nav-item">
                                <NavLink class="nav-link" href="businessowners/details">
                                    <span class="bi bi-person-circle" aria-hidden="true"></span> My Profile
                                </NavLink>
                            </li> *@
                            <li class="nav-item">
                                <NavLink class="nav-link" href="businesses/details">
                                    <span class="bi bi-person-circle" aria-hidden="true"></span> My Business
                                </NavLink>
                            </li>
                        </AuthorizeView>

                        <li class="nav-item">
                            <NavLink class="nav-link" href="deliveries">
                                <span class="bi bi-box-arrow-in-down-left" aria-hidden="true"></span> Delivery
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="deliveryriders">
                                <span class="bi bi-person-lines-fill" aria-hidden="true"></span> DeliveryRider
                            </NavLink>
                        </li>

                       <!-- User Role Links (Customer Profile, Orders, Payments) -->
                        <AuthorizeView Roles="User" Context="userContext">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="customerMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="bi bi-person-circle" aria-hidden="true"></span> My Account
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="customerMenu">
                                    <li><NavLink class="dropdown-item" href="customer/profile">My Profile</NavLink></li>
                                    <li><NavLink class="dropdown-item" href="customer/orders">My Orders</NavLink></li>
                                    <li><NavLink class="dropdown-item" href="customer/payments">My Payments</NavLink></li>
                                    <li><NavLink class="dropdown-item" href="/customer/deliveries">My Deliveries</NavLink></li>
                                </ul>
                            </li>
                        </AuthorizeView>

                        <!-- Admin, User Links -->
                        <AuthorizeView Roles="Administrator,User" Context="adminUserContext">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="businesses">
                                    <span class="bi bi-shop-window" aria-hidden="true"></span> Business
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="menus">
                                    <span class="bi bi-menu-button-wide" aria-hidden="true"></span> Menu
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="businessowners">
                                    <span class="bi bi-person-circle" aria-hidden="true"></span> BusinessOwners
                                </NavLink>
                            </li>
                        </AuthorizeView>

                        <AuthorizeView Roles="Administrator,BusinessOwner,User" Context="adminBusinessUserContext">
@*                             <li class="nav-item">
                                <NavLink class="nav-link" href="orderitems">
                                    <span class="bi bi-cart" aria-hidden="true"></span> OrderItem
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="payments">
                                    <span class="bi bi-credit-card" aria-hidden="true"></span> Payment
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="orders">
                                    <span class="bi bi-cart-fill" aria-hidden="true"></span> Orders
                                </NavLink>
                            </li> *@
                        </AuthorizeView>

                        <!-- Admin and User Links -->
                        <AuthorizeView Roles="Administrator,User" Context="adminUserContext">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="complaints">
                                    <span class="bi bi-exclamation-triangle-fill" aria-hidden="true"></span> Complaints
                                </NavLink>
                            </li>
@*                             <li class="nav-item">
                                <NavLink class="nav-link" href="orders">
                                    <span class="bi bi-cart-fill" aria-hidden="true"></span> Orders
                                </NavLink>
                            </li> *@
                        </AuthorizeView>

                        <!-- Admin and Rider Links -->
                        <AuthorizeView Roles="Administrator,Rider" Context="riderContext">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="riders">
                                    <span class="bi bi-person-fill" aria-hidden="true"></span> Rider
                                </NavLink>
                            </li>
                        </AuthorizeView>

                        <!-- Admin Only Links -->
                        <AuthorizeView Roles="Administrator" Context="adminContext">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="staff">
                                    <span class="bi bi-person-fill" aria-hidden="true"></span> Staff
                                </NavLink>
                            </li>
                        </AuthorizeView>

                        <!-- Logout -->
                        <li class="nav-item">
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button type="submit" class="nav-link btn btn-link">
                                    <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                                </button>
                            </form>
                        </li>
                    </Authorized>

                    <NotAuthorized>
                        <!-- Register and Login Links -->
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Register">
                                <span class="bi bi-person-plus" aria-hidden="true"></span> Register
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Login">
                                <span class="bi bi-person-circle" aria-hidden="true"></span> Login
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

